adrf==0.1.9
asgiref==3.8.1
async-property==0.2.2
bcrypt==4.3.0
click==8.2.0
colorama==0.4.6
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
dnspython==2.7.0
dotenv==0.9.9
h11==0.16.0
pymongo==4.12.1
python-dotenv==1.1.0
sqlparse==0.5.3
tzdata==2025.2
uvicorn==0.34.2
